USE [ELEARNING]
GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_CATEGORIA]    Script Date: 5/12/2020 04:12:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[BUSCAR_CURSOS]
(
	@ID_CURSOS  	 INT,
	@NOMBRE_CURSO	VARCHAR(50) 
)
AS 
BEGIN
	IF (@ID_CURSOS>0)
	BEGIN
		IF EXISTS (SELECT * FROM CURSOS WHERE ID_CURSO = @ID_CURSOS)
			SELECT  C.ID_CURSO,C.NOMBRE_CURSO,C.ESTADO,CAT.NOMBRE_CAT,C.ID_CATEGORIA FROM CURSOS C
			JOIN CATEGORIAS CAT ON C.ID_CATEGORIA=CAT.ID_CATEGORIA
			WHERE ID_CURSO = @ID_CURSOS
		ELSE
			SELECT -1 AS ID_CURSO
	END
	ELSE IF (LEN(RTRIM(@NOMBRE_CURSO))>0 OR @NOMBRE_CURSO<>'')
	BEGIN
		IF EXISTS(SELECT * FROM CURSOS WHERE NOMBRE_CURSO LIKE '%'+@NOMBRE_CURSO+'%')
			SELECT  C.ID_CURSO,C.NOMBRE_CURSO,C.ESTADO,CAT.NOMBRE_CAT, C.ID_CATEGORIA FROM CURSOS C
			JOIN CATEGORIAS CAT ON C.ID_CATEGORIA=CAT.ID_CATEGORIA WHERE NOMBRE_CURSO LIKE '%'+@NOMBRE_CURSO+'%'
		ELSE
			SELECT -1 AS ID_CURSO
	END
END


SELECT * FROM CURSOS