USE [ELEARNING]
GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_CATEGORIA]    Script Date: 6/12/2020 10:11:21 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BUSCAR_PRIVILEGIO]
(
	@ID_PRIV  	 INT,
	@NOMBRE_PRIV	VARCHAR(100)
)
AS 
BEGIN
	IF (@ID_PRIV>0)
	BEGIN
		IF EXISTS (SELECT * FROM PRIVILEGIOS WHERE ID_PRIVILEGIO = @ID_PRIV)
			SELECT ID_PRIVILEGIO,NOMBRE_PRIVILEGIO FROM PRIVILEGIOS WHERE ID_PRIVILEGIO = @ID_PRIV
		ELSE
			SELECT -1 AS ID_CATEGORIA
	END
	ELSE IF (LEN(RTRIM(@NOMBRE_PRIV))>0 OR @NOMBRE_PRIV<>'')
	BEGIN
		IF EXISTS(SELECT * FROM PRIVILEGIOS WHERE ID_PRIVILEGIO LIKE '%'+@NOMBRE_PRIV+'%')
			SELECT ID_PRIVILEGIO,NOMBRE_PRIVILEGIO  FROM PRIVILEGIOS WHERE NOMBRE_PRIVILEGIO LIKE '%'+@NOMBRE_PRIV+'%'
		ELSE
			SELECT -1 AS ID_CATEGORIA
	END
END
