USE [ELEARNING]
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_CATEGORIAS]    Script Date: 6/12/2020 10:10:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[INSERTAR_PRIVILEGIO]
(
	@NOMBRE_PRIV		VARCHAR(25)

)
AS BEGIN
	INSERT INTO PRIVILEGIOS(NOMBRE_PRIVILEGIO) VALUES(@NOMBRE_PRIV)
END
