USE [ELEARNING]
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_TEMAS]    Script Date: 5/12/2020 10:02:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[INSERTAR_TEMAS]
(
	@NOMBRE_TEMA	VARCHAR(50),
	@ID_CATEGORIA	INT,
	@ID_CURSO		INT
)
AS BEGIN
	INSERT INTO TEMAS(NOMBRE_TEMA, ID_CATEGORIA, ID_CURSO) 
	VALUES(@NOMBRE_TEMA, @ID_CATEGORIA, @ID_CURSO)
END
