USE [ELEARNING]
GO
/****** Object:  StoredProcedure [dbo].[MODIFICAR_CATEGORIAS]    Script Date: 5/12/2020 03:51:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[MODIFICAR_CURSOS]
(
	@ID_CURSO	    INT,
	@NOMBRE_CURSO	VARCHAR(100),
	@ESTADO         INT,
	@ID_CATEGORIA   INT
)
AS 
BEGIN
	UPDATE 
		CURSOS
	SET
		NOMBRE_CURSO=@NOMBRE_CURSO,
		ESTADO=@ESTADO,
	    ID_CATEGORIA=@ID_CATEGORIA
	WHERE
		ID_CURSO = @ID_CURSO
END

