USE [ELEARNING]
GO
/****** Object:  StoredProcedure [dbo].[MOSTRAR_CONTENIDOS]    Script Date: 5/12/2020 02:30:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[MOSTRAR_CURSOS]
AS
BEGIN
	SELECT
		CU.ID_CURSO,
		CU.NOMBRE_CURSO AS CURSO, 
		CU.ID_CATEGORIA ,
		CA.NOMBRE_CAT AS  CATEGORIA,
		CU.ESTADO
	FROM
				CURSOS  CU
	LEFT JOIN	CATEGORIAS CA ON CA.ID_CATEGORIA =  CU.ID_CATEGORIA 
END
